@font-face {
    font-family: 'Actor';
    src: url('../Actor-Font/Actor-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

html {
    background-color: #17082A;

}
html{
    font-family: Actor;
}
article{
    background-color: #210F37;
    margin: 5vw 5vw 5vw 5vw;
    border-radius: 8vw;
    padding: 4vw 0vw 8vw 8vw  ;
    box-sizing: border-box; 


}
h1{
    font-size: 6.1vw;
    color: #fff;
    margin-bottom: 1.3vw;
    font-weight: normal;


}
p{
    color: #FFF;
    font-size: 5.4vw;
    -webkit-text-stroke: .04vw black; 
    padding-right: 5vw;
}
h2{
    color: #ECBBDA;
    font-size: 4vw;
    background-color: rgba(255, 255, 255, .1);
    backface-visibility:unset;
    border-radius: 3vw;
    text-align: center;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    width: 35vw;
    margin-right: 2vw;
    margin-bottom: .5vw;
    

}

.Cast{
    margin-top: 10vw;
}
.Genre{
    margin-top: 10vw;

}
.Cast-List{
    display: flex;
    flex-wrap: wrap;

}
.Genre-List{
    display: flex;
    flex-wrap: wrap;

}
a{
    color:#ECBBDA;
}
.Back-icon{
    margin: 10vw 10vw 0vw 10vw;
}
button {
    background-color: Transparent;
    border: none;
}